.title{
  background-color: blue;
  color:white;
}
.container{
  background-color: blue;
  color:white;
}
body{
  background-color: blue;
}
.photo img{
    height: 150px;
    width: 100px;
    margin-left: 125px;
}
.music audio{
    width: 200px;
    margin-left:90px;
}
.time p{
    text-align: center;
    color: white;
}
