.title{
  background-color: blue;
}
.container{
  background-color: blue;
}
body{
  background-color: blue;
}
.photo img{
    height: 150px;
    width: 100px;
    margin-left: 125px;
}
.music audio{
    width: 200px;
}
